.header {
  position: sticky;
  top: 0;
  display: flex;
  gap: 12px;
  align-items: center;
  z-index: 100;
  height: var(--header-height);
  width: 100%;
  padding: 0 8px;
  background-color: var(--primary);
  color: var(--text-primary);
}

.icon {
  border-radius: 50%;
  cursor: pointer;
  font-size: 40px;
  transition: .2s;
}

.icon:hover {
  background-color: var(--primary-variant);
}
