.navigationDrawer {
  position: fixed;
  /* height: 100%; */
  display: flex;
  gap: 2px;
  flex-direction: column;
  /* width: 200px; */
  padding-top: 4rem;
  background-color: var(--nav-background);
}


.menu {
  z-index: 300;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  height: 64px;
  transition: .2s;
}

.navItem:not(:last-child) {
  box-shadow: 0 1px 0 1px #00000033;
}

.navItem:hover .icon,
.navItem:hover {
  background-color: var(--nav-background-hover);
  transform: scale(.98);
}

.icon {
  font-size: 40px;
}

.iconTag {
  font-weight: bold;
}