.navigationDrawer {
  position: sticky;
  top: var(--header-height);
  display: flex;
  gap: 2px;
  flex-direction: column;
  background-color: var(--primary-variant);
  color: var(--text-primary);
  height: calc(100vh - var(--header-height));
  min-width: 180px;
  z-index: 600;
  overflow-y: auto;
}

.navigationDrawer::-webkit-scrollbar {
  display: none;
}

.menu {
  z-index: 600;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  height: 64px;
  transition: .2s; 
}

.navItem:not(:last-child) {
  border-bottom: 1px solid var(--shadow);
}

.navItem:hover .icon,
.navItem:hover {
  background-color: var(--primary-variant);
  transform: scale(.98);
}

.icon {
  font-size: 40px;
}

.iconTag {
  font-weight: bold;
}

@media (max-width: 480px)  {
  .navigationDrawer {
    position: fixed;
    width: 100%;
    height: 100%;
  }
}