.sectionHeader {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  z-index: 100;
  margin-bottom: 8px;
}

.sectionTitle {
	color: var(--primary);
}

.sectionTitle {
  display: flex;
  gap: 16px;
  align-items: center;
}

.newAccount {
  background-color: var(--action);
  color: var(--text-primary);
  box-shadow: 0 0 20px var(--shadow);
  border-radius: 4px;
  padding: 8px;
  font-weight: 500;
  transition: .2s;
}

.newAccount:hover {
  background-color: var(--action-hover);
}

.icon,
.iconDisabled {
  transform: scale(2);
  transition: .2s;
}

.icon:active,
.icon:hover {
  transform: scale(1.9);
  background-color: var(--shadow);
  border-radius: 50%;
}

.iconDisabled {
  opacity: .5;
}
