.listItemContainer {
  display: flex;
  gap: 50px;
  background-color: white;
  color: black;
  padding: 8px 12px;
  border-radius: 4px;
}

.listCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headline {
  font-size: 1.2rem;
  font-weight: bold;
}

.line1, .line2 {
  color: #00000099;
  font-size: 1;
}

.line2 {
  font-style: italic;
}

.trailingContainer {
  display: flex;
  align-items: center;
}

.trailing, .leading {
  font-size: 1.5rem;
  font-weight: bold;
}
