.sectionTitle {
  display: flex;
  gap: 12px;
  align-items: center;
  z-index: 100;
}

.movementsBody {
  display: flex;
  gap: 12px;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  min-width: 60%;
}

.paginator {
  display: flex;
  gap: 12px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
}

.icon,
.iconDisabled {
  transform: scale(2);
}

.iconDisabled {
  opacity: .5;
}