html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 4rem;

  --primary: #c2956e;
  --primary-variant: #b88b64;
  --text-primary: #fcfaf8;
  --secondary: #fcfaf8;
  --secondary-variant: #f2f0ee;
  --text-secondary: #c2956e;
  
  --action: #95c26e;
  --action-hover: #85b25e;
  --text-action: #fcfaf8;

  --danger: #c26e95; /* idk... */
  --danger-hover: #b25e85;
  --text-danger: #fcfaf8;
  
  --list-odd: #fbf7f3;
  --list-even: #dbd7d3;
  --list-hover: #e9e7e5;
  --list-text: #c2956e;

  --shadow: #0002;
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  } */
}