html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #c2956e;
  --primary-variant: #b88b64;
  --text-primary: #fcfaf8;
  --secondary: #fcfaf8;
  --secondary-variant: #f2f0ee;
  --text-secondary: #080604;
  
  --list-odd: #f9f7f5;
  --list-even: #d9d7d5;
  --list-hover: #e9e7e5;
  --list-text: #282624;

  --shadow: #0002;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}