html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #090909;
  --header-background: #2020ff;
  --header-background-hover: #4545ff;
  --nav-background: #4040ff;
  --nav-background-hover: #4545ff;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--background);
  }
  :root {
    --backgroung: #000a12;
    --header-background: #1a237e;
    --header-background-hover: #2a338e;
    --nav-background: #4f83cc;
    --nav-background-hover: #5f93dc;
  }
}
